<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FruitMix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F659313C1C97DE1800AD10D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F65931551C97DE1900AD10D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F65931601C97DE1900AD10D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
